@import 'https://fonts.googleapis.com/css?family=Open+Sans';

* {
    -webkit-box-sizing: border-box;
	box-sizing: border-box;
    /* font-size: 16px; */
    font-family: 'Courier';
    /* color: white; */
}

body {
	font-family: 'Courier';
	line-height: 1.75em;
	/* font-size: 16px; */
	background-color: black;
	color: #fff;
}

.simple-container {
	max-width: 675px;
	margin: 0 auto;
	padding-top: 70px;
	padding-bottom: 20px;
}

.simple-print {
	fill: white;
	stroke: white;
}
.simple-print svg {
	height: 100%;
}

.simple-close {
	color: white;
	border: none;
}

.simple-ext-info {
	border: none;
}

p {
	font-size: 16px;
}

h1 {
	font-size: 30px;
	line-height: 34px;
    text-align: right;
    margin: 0px;
}

h2 {
	font-size: 20px;
	line-height: 25px;
}

h3 {
	font-size: 16px;
	line-height: 27px;
	border: none;
}

hr {
	height: 1px;
	background-color: #d8d8d8;
	border: none;
	width: 100%;
	margin: 0px;
}

a[href] {
	color: #20f713;
}

a[href]:hover {
	color: #3ba0e6;
}

img {
	max-width: 100%;
}

ul {
	display: inline-block;
    text-align: left;
}

li {
	line-height: 1.5em;
}

aside,
[class *= "sidebar"],
[id *= "sidebar"] {
	max-width: 90%;
	margin: 0 auto;
	border: none;
	padding: 5px 15px;
}

@media (min-width: 1921px) {
	body {
		font-size: 18px;
	}
}

.center {
    text-align: center;
	margin-bottom: 20px;
}

.picture {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.clapper {
    display: block;
    margin-left: 50px;;
    margin-right: auto;
    width: 80px;
    height: 80px;
    /* vertical-align: middle; */
}

.title_picture {
    width: 500px;
	margin: 25px;
}

.small_text {
    font-size: 11px;
    text-align: left;
}

.green {
    color: #20f713
}

.title_picture_small {
    width: 160px;
}

.video_container {
    position: relative;
    left: 25%;
    padding-bottom: 5%;
    height: 0;
    overflow: hidden;
    /* max-width: 100%; */
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
}

.list {
    margin: 50px;
}


th, td {
  border: 1px solid white;
  padding: 8px;
  text-align: left;
  background-color: #000000;
  color: white;
}

pre code.language-bash,
pre code.language-python,
pre code.language-javascript,
pre code.language-txt {
    display: block;
    overflow: auto;
    background-color: dark gray;
    color: white;
}
